body {
    background-color: rgb(89, 79, 66);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* centra horizontal */
    align-items: center;
    /* centra vertical */
}